.home{
  color: var(--burgundy);
  min-height: 100svh;
  font-family: var(--font-hibiscus);
}

.header{
  min-height:80vh;
  display:flex;
  flex-direction: row;
  padding:2rem;

}

.square {
  width:100%;
  display:flex;
  gap: 2rem;
  flex-direction:row;
  justify-self: center;
  align-self: center;
}

.bigh1{
  font-size: 6rem;
  text-align: left;
  color: var(--darkrose);
}

.subtitle{
  text-align:left;
  color:var(--rose);
  font-size: 2rem;
  line-height: 2.5rem;
}

.title {
  min-width: 50vw;
  justify-self: center;
  align-self: center;
  display:flex;
  flex-direction:column;
  gap:2em;
}

.about {
  min-height:20vh;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-content: space-between;
  justify-content: center;
  background: var(--peach-alpha-300) ;
  font-size:2em;
  align-items: center;
  padding:1em;
}

.img{
    width: 100%;
    height:auto;
    align-self:center;
    object-fit: cover;
    overflow: hidden;

}


@media screen and (max-width: 769px) {
  .square {
    flex-direction: column;
  }

  .img{
    width: 70%;
    height: fit-content;
    align-self:center;
  }
  .header, .title, .about, .square,  {
    flex-direction: column;
    height: auto;
    text-wrap: initial;
  }

  .bigh1, .subtitle{
    text-align:center;
    text-wrap: initial;
  }

  .about{
    flex-direction: column;
    gap: 1rem;
  }

}
